@media print {
  body,
  html {
    overflow: visible !important;
  }

  body {
    background: white;
    color: black;
    margin: 0 !important;
    padding: 0 !important;
  }

  #preview-container {
    overflow: visible !important;
    height: auto !important;
  }

  .no-print {
    display: none !important;
  }

  .print-no-padding-margin {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    outline: none !important;
    gap: 0 !important;
  }
}